In [1]:
import pandas as pd

In [2]:
data_df = pd.read_csv("Resources/cities.csv")
print(data_df.shape)
data_df.head(1)

(547, 10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.6,6.93

In [3]:
# Save html
df_html = data_df.to_html(index=False)

In [4]:
# Write html to file
text_file = open("dataframe.html", "w")
text_file.write(df_html)
text_file.close()